<header id="mainHeader" class="DmainHeader">

  <div id="headerLogoContainer">
    <div id="headerHeroLogo1" class="DheaderHeroLogo1"><span class="headerLogoLetter headerL4">N</span>&nbsp;<span class="headerLogoLetter headerL3">i</span>&nbsp;<span class="headerLogoLetter headerL2">c</span>&nbsp;<span class="headerLogoLetter headerL1">o</span>&nbsp;</div>
    <div id="headerOwlFaceInLogo" class="headerOwlFaceInLogoNoHover">{o,o}</div>
    <div id="headerHeroLogo2" class="DheaderHeroLogo1">&nbsp;<span class="headerLogoLetter headerL1">A</span>&nbsp;<span class="headerLogoLetter headerL2">n</span>&nbsp;<span class="headerLogoLetter headerL3">d</span>&nbsp;<span class="headerLogoLetter headerL4">r</span>&nbsp;<span class="headerLogoLetter headerL5">u</span>&nbsp;<span class="headerLogoLetter headerL6">z</span>&nbsp;<span class="headerLogoLetter headerL7">z</span>&nbsp;<span class="headerLogoLetter headerL8">i</span></div>
  </div>

  <nav id="navigationMenu">
      <div data-scrollTo="sec01" id="nav_sec01" class="navOption DnotActive">About</div>
      <div data-scrollTo="sec02" id="nav_sec02" class="navOption DnotActive">Portfolio</div>
      <div data-scrollTo="sec03" id="nav_sec03" class="navOption DnotActive">Contact</div>
  </nav>

</header>

<div class="sections">

  <section id="hero">
    <div id="heroHeader">
      <div class="title"><span>Full-Stack Developer</span></div>
      <div class="title"><span>UX-UI Designer</span></div>
      <div class="title"><span>Electro-Mechanical Engineer</span></div>
    </div>

    <div id="heroLogoContainer">
      <div id="heroLogo1"><span class="logoLetter L4">N</span>&nbsp;<span class="logoLetter L3">i</span>&nbsp;<span class="logoLetter L2">c</span>&nbsp;<span class="logoLetter L1">o</span>&nbsp;</div>
      <img src="/images/moon.png" alt="moon" id="heroMoon" class="heroMoonNoHover"/>
      <div id="heroOwlFaceInLogo" class="heroOwlFaceInLogoNoHover">{o,o}</div>
      <div id="heroLogo2">&nbsp;<span class="logoLetter L1">A</span>&nbsp;<span class="logoLetter L2">n</span>&nbsp;<span class="logoLetter L3">d</span>&nbsp;<span class="logoLetter L4">r</span>&nbsp;<span class="logoLetter L5">u</span>&nbsp;<span class="logoLetter L6">z</span>&nbsp;<span class="logoLetter L7">z</span>&nbsp;<span class="logoLetter L8">i</span></div>
    </div>

    <audio id="player" preload="auto" type="audio/mpeg" loop src="/sounds/The Avalanches - Close To You (FLAC) (mp3cut.net).mp3"> </audio>

    <div id="heroSloganContainer"><div id="heroSlogan"><span id="heroSloganDecoration">:::&nbsp;</span><span id="heroSloganText">Carpe Noctem</span><span id="heroSloganDecoration">&nbsp;:::</span></div></div>

    <div class="downPointer">
      <img id="downPointerIcon" src="images/double-arrow-down.svg" alt="down arrow" />
      <img id="downPointerIcon" src="images/double-arrow-down.svg" alt="down arrow" />
    </div>

    <div id="intro">
      <div id="introBig">Hi there, I'm glad you found me</div>
      <div id="introSmall">&nbsp;&nbsp;My name is Nico Andruzzi and I love&nbsp;&nbsp;</div>
      <div id="loveRotate"></div>
    </div>

    <div id="textIntro">
      This Site Is Currently Getting a
      <br>complete UX-UI Redesign.
      <br>Come back October 10th
      <br>to See What I Can Do!
    </div>

  </section>

  <section id="cinemagraphContainer">
    <div id="cinemagraph">
      <video preload="auto" src="videos/space.mp4" autoplay loop>
        <source src="videos/space.mp4" type="video/mp4">
        Your browser does not support this video.
      </video>
    </div>
  </section>

  <section class="row light" id="sec01">
    <div id="about" class="aboutNotFixedTop">
      <div id="subMenuSpaceHolder"></div>
      <div class="aboutMenuOption" data-scrollTo="why"><span id="why">Purpose</span></div>
      <div class="aboutMenuOption" data-scrollTo="how"><span id="how">Process</span></div>
      <div class="aboutMenuOption" data-scrollTo="what"><span id="what">Proficiencies</span></div>
    </div>
    <div id="aboutContent">
      <div id="subAbout_why">
        <h1>Why I Exist</h1>
        <div class="left">
          <h2>My Vision</h2>
          <p>To make a long-term positive change on planet Earth via technilogical design and development.</p>
          <h4>"If you are working on something exciting that you really care about, you don’t have to be pushed. The vision pulls you."</h4>
          <h5>::: <i>Steve Jobs</i> :::</h5>
        </div>
        <div class="right">
          <h2>My Mission</h2>
          <p>I determine people's true, underlying needs and then deliver products and services that help them succeed through my understanding of people, technology, society, and business.</p>
          <h4>"Life is a mission, not a career. A career is a profession, a mission is a cause. A career asks, What's in it for me? A mission asks, How can I make a difference?"</h4>
          <h5>::: <i>Stephen Covey</i> :::</h5>
        </div>
      </div>
      <hr>
      <div id="subAbout_how">
        <h1>How I Create</h1>
          <h2 class="left">1. Discover - <span class="howSubTitle">Empathize</span></h2>
            <p class="left">Learning, Research & Workshops</p>
            <p class="left">Customer Journeys</p>
            <p class="left">Organizational Connections</p>
            <p class="left">Emergent Soloutions</p>
            <!-- <img src="/images/arrow-right.png" alt="arrow-right" /> -->
          <h2 class="right">2. Define - <span class="howSubTitle">Plan & Estimate</span></h2>
            <p class="right">Analysis & Synthesis of UX Research Data</p>
            <p class="right">Scope Alignment</p>
            <p class="right">User Experience Assessment</p>
            <p class="right">Technology Vision</p>
            <p class="right">Delivery & Approach Planning</p>
            <!-- <img src="/images/arrow-left.png" alt="arrow-right" /> -->
          <h2 class="left">3. Design - <span class="howSubTitle">Ideate & Prototype</span></h2>
            <p class="left">User Experience Design Sprints</p>
            <p class="left">Technical Design & Architecture</p>
            <p class="left">User Story Creation</p>
            <p class="left">Vision Prototype & Usability Testing</p>
            <!-- <img src="/images/arrow-right.png" alt="arrow-right" /> -->
          <h2 class="right">4. Develop - <span class="howSubTitle">Build & Test</span></h2>
            <p class="right">Application Development</p>
            <p class="right">UX Support & Asset Creation</p>
            <p class="right">Embedded QA Testing</p>
            <p class="right">Team Scrum Meetings</p>
            <p class="right">Task & Velocity Tracking</p>
            <!-- <img src="/images/arrow-left.png" alt="arrow-right" /> -->
          <h2 class="left">5. Deploy - <span class="howSubTitle">Release</span></h2>
            <p class="left">Product Release Validation</p>
            <p class="left">Knowledge Transfer</p>
            <p class="left">Formal QA Testing & Support</p>
            <p class="left">Post Production Support</p>
      </div>
      <hr>
      <div id="subAbout_what">
        <h1>What I Do</h1>
          <h2>UX-UI Design</h2>
            <div class="whatGroupContainer">
              <figure class="whatIconContainer">
                <a href="https://www.sketchapp.com" target="_blank">
                  <img class="whatIconSquare" src="/images/png-proficiencies-icons/sketch.png" alt="Sketch Icon" />
                  <div class="whatIconCaption">( Sketch )</div>
                </a>
              </figure>
              <figure class="whatIconContainer">
                <a href="http://www.adobe.com/creativecloud/catalog/desktop.html" target="_blank">
                  <img class="whatIconRectangle" src="/images/png-proficiencies-icons/adobe.png" alt="Adobe Icon" />
                  <div class="whatIconCaption">( Adobe CC )</div>
                </a>
              </figure>
              <figure class="whatIconContainer">
                <a href="https://www.invisionapp.com" target="_blank">
                  <img class="whatIconRectangle" src="/images/png-proficiencies-icons/invision.png" alt="InVision Icon" />
                  <div class="whatIconCaption">( InVision )</div>
                </a>
              </figure>
            </div>
          <h2>Development Fundamentals</h2>
            <div class="whatGroupContainer">
              <figure class="whatIconContainer">
                <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">
                  <img class="whatIconSquare" src="/images/png-proficiencies-icons/html.png" alt="HTML5 Icon" />
                  <div class="whatIconCaption">( HTML )</div>
                </a>
              </figure>
              <figure class="whatIconContainer">
                <a href="https://www.javascript.com" target="_blank">
                  <img class="whatIconSquare" src="/images/png-proficiencies-icons/javascript.png" alt="JavaScript Icon" />
                  <div class="whatIconCaption">( JavaScript )</div>
                </a>
              </figure>
              <figure class="whatIconContainer">
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank">
                  <img class="whatIconSquare" src="/images/png-proficiencies-icons/css.png" alt="CSS3 Icon" />
                  <div class="whatIconCaption">( CSS )</div>
                </a>
              </figure>
              <figure class="whatIconContainer">
                <a href="http://jquery.com" target="_blank">
                  <img class="whatIconSquare" src="/images/png-proficiencies-icons/jquery.png" alt="jQuery Icon" />
                  <div class="whatIconCaption">( jQuery )</div>
                </a>
              </figure>
              <figure class="whatIconContainer">
                <a href="https://learn.jquery.com/ajax/" target="_blank">
                  <img class="whatIconRectangle" src="/images/svg-proficiencies-icons/ajax.svg" alt="AJAX Icon" />
                  <div class="whatIconCaption">( AJAX )</div>
                </a>
              </figure>
            </div>
          <h2>Front-End</h2>
            <div class="whatGroupContainer">
              <figure class="whatIconContainer">
                <a href="https://angularjs.org" target="_blank">
                  <img class="whatIconSquare" src="/images/png-proficiencies-icons/angular.png" alt="AngularJS Icon" />
                  <div class="whatIconCaption">( AngularJS )</div>
                </a>
              </figure>
              <figure class="whatIconContainer">
                <a href="https://facebook.github.io/react/" target="_blank">
                  <img class="whatIconSquare" src="/images/png-proficiencies-icons/react.png" alt="ReactJS Icon" />
                  <div class="whatIconCaption">( ReactJS )</div>
                </a>
              </figure>
            </div>
          <h2>Back-End</h2>
            <div class="whatGroupContainer">
              <figure class="whatIconContainer">
                <a href="https://nodejs.org/en/" target="_blank">
                  <img class="whatIconRectangle" src="/images/svg-proficiencies-icons/node.svg" alt="Node.js Icon" />
                  <div class="whatIconCaption">( Node.js )</div>
                </a>
              </figure>
            </div>
          <h2>Database</h2>
            <div class="whatGroupContainer">
              <figure class="whatIconContainer">
                <a href="https://www.postgresql.org" target="_blank">
                  <img class="whatIconSquare" src="/images/svg-proficiencies-icons/postgresql.svg" alt="PostgreSQL Icon" />
                  <div class="whatIconCaption">( PostgreSQL )</div>
                </a>
              </figure>
              <figure class="whatIconContainer">
                <a href="https://www.mongodb.com" target="_blank">
                  <img class="whatIconRectangle" src="/images/png-proficiencies-icons/mongodb.png" alt="MongoDB Icon" />
                  <div class="whatIconCaption">( MongoDB )</div>
                </a>
              </figure>
            </div>
          <h2>Mobile Applications</h2>
            <div class="whatGroupContainer">
              <figure class="whatIconContainer">
                <a href="https://developer.apple.com/swift/" target="_blank">
                  <img class="whatIconSquare" src="/images/svg-proficiencies-icons/ios-swift.svg" alt="Swift Icon" />
                  <div class="whatIconCaption">( iOS - Swift )</div>
                </a>
              </figure>
              <figure class="whatIconContainer">
                <a href="https://developer.android.com/index.html" target="_blank">
                  <img class="whatIconSquare" src="/images/png-proficiencies-icons/android-java.png" alt="Android Icon" />
                  <div class="whatIconCaption">( Android - Java )</div>
                </a>
              </figure>
            </div>
      </div>
    </div>
  </section>

  <section class="row dark" id="sec02">
    <h1>My Creations</h1>
    <div id="creationsContainer">
      <a href="/#/theScoreBoar/">
        <img src="/images/project-images/theScoreBoar/golden-48127.svg" alt="" />
        <!-- <span class="projectName">The Score Boar<span class="projectTitle">IoT / Web Application</span> -->
      </a>
      <a href="/#/codingChallenges/">
        <img src="/images/project-images/codingChallenges/splitBrain.png" alt="" />
        <!-- <span class="projectName">Coding Challenges<span class="projectTitle">Web Application</span> -->
      </a>
    </div>
  </section>

  <section class="row light" id="sec03">
    <h1>Contact</h1>
    <div id="cont-container">
      <div class="cont-contactBtn">
        <div class="cont-flip">
          <div id="frontContainer" class="front">
            <img class="splitOwlFace" src="/images/left_owl_face.png" alt="left-owl-face" />
            <div id="cont-center">
              <div id="frontMessage1"><i><a href="mailto:Nico@NightOwlNico.com" target="_top">Nico@NightOwlNico.com</a></i></div>
              <div id="frontMessage2"><hr><span>&nbsp;:::&nbsp;&nbsp;&nbsp;</span>OR<span>&nbsp;&nbsp;&nbsp;:::&nbsp;</span><hr></div>
              <a href="#" class="btn btn-white flip">Contact Me</a>
            </div>
            <img class="splitOwlFace" src="/images/right_owl_face.png" alt="right-owl-face" />
          </div>
          <div class="back">
            <a href="#" class="flip close"></a>
            <form id="contact-form" name="contactForm" ng-submit="contactForm.$valid && submitEmail()" novalidate>
              <input id="gutter" type="text" placeholder="Name*" name="name" ng-model="email.senderName" ng-class="{redValidate : submitted}" required autocomplete="off">
              <input type="email" placeholder="Email*" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" name="email" ng-model="email.senderEmail" ng-class="{redValidate : submitted}" required autocomplete="off">
              <input id="gutter" type="text" placeholder="Company" name="company" ng-model="email.senderCompany" autocomplete="off">
              <input type="tel" placeholder="Telephone" name="telephone" ng-model="email.senderTelephone" autocomplete="off">
              <!-- <input type="tel" placeholder="Telephone" pattern="^([0-9\(\)\/\+ \-]*)$" name="telephone" ng-model="email.senderTelephone" autocomplete="off"> -->
              <textarea type="text" placeholder="Leave a message*" name="message" ng-model="email.senderMessage" ng-class="{redValidate : submitted}" required autocomplete="off"></textarea>
              <input ng-click="submitted=true" id="submitButton" type="submit" value="Send"><span ng-show="submitted && contactForm.$invalid" style="color:red; font-weight:bolder;">&nbsp;&nbsp;&nbsp;&nbsp;Please fill out all required* fields before sending ::: (I solemly swear not to spam your email)</span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="footer">
    <div id="footerTop">
      <div id="footerIconsGroup">
        <a class="footerIconContainer" href="https://GitHub.com/NicolasAndruzzi" target="_blank">
          <img class="footerIcon" src="/images/svg-footer-icons/GitHub.svg" alt="GitHub icon" />
        </a>
        <a class="footerIconContainer" href="https://www.Behance.net/NightOwlNico" target="_blank">
          <img class="footerIcon" src="/images/svg-footer-icons/Behance.svg" alt="Behance icon" />
        </a>
        <a class="footerIconContainer" href="https://CodePen.io/NightOwlNico" target="_blank">
          <img class="footerIcon" src="/images/svg-footer-icons/CodePen.svg" alt="CodePen icon" />
        </a>
        <a class="footerIconContainer" href="https://www.LinkedIn.com/in/NicolasAndruzzi" target="_blank">
          <img class="footerIcon" src="/images/svg-footer-icons/LinkedIn.svg" alt="LinkedIn icon" />
        </a>
      </div>
      <div id="footerQuoteContainer">
        <div id="footerQuote">
          The simple things
          <br>are also the most extraordinary things,
          <br>and only the wise can see them.
        </div>
        <div id="footerAuthor"><span id="footerAuthorDecoration">:::&nbsp;</span>The Alchemist<span id="footerAuthorDecoration">&nbsp;:::</span></div>
      </div>
    </div>
    <a id="buttonLink" href="/documents/NicoAndruzzi-Resume.pdf" target="_blank">
      <button type="button" name="button">My Resume</button>
    </a>
    <div id="footerContent">
      <div id="footerLocation">Brooklyn Ny&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Denver Co</div>
      <div id="footerCopyright">Copyright &copy; 2016 NightOwlNico. All Rights Reserved.</div>
    </div>
  </section>

  <!-- Scroll-to-Top -->
  <!-- <div class="scrollup"><img src="/images/Circle_arrow_up_font_awesome.svg.png" alt="UpArrow" /></div> -->

<!-- </div> -->
