<header>
  <nav id="aboutNav">
      <a href="/#/"><div>Home</div></a>
      <a href="/#/Projects"><div>Projects</div></a>
      <a href="/#/Values"><div>Values</div></a>
      <a href="/#/Resume"><div>Resume</div></a>
      <a href="/#/Contact"><div>Contact</div></a>
  </nav>
</header>
<body>
  <div id="splash">
    <div id="logoContainer" ng-cloak>
      <div id="logo1"><span class="logoLetter">N</span>&nbsp;<span class="logoLetter">i</span>&nbsp;<span class="logoLetter">c</span>&nbsp;<span class="logoLetter">o</span>&nbsp;</div>
      <a href="/#/about">
        <img src="/images/moon.png" alt="moon" id="moon"/>
        <div id="owlFaceInLogo">{o,o}</div>
      </a>
      <div id="logo2">&nbsp;<span class="logoLetter">A</span>&nbsp;<span class="logoLetter">n</span>&nbsp;<span class="logoLetter">d</span>&nbsp;<span class="logoLetter">r</span>&nbsp;<span class="logoLetter">u</span>&nbsp;<span class="logoLetter">z</span>&nbsp;<span class="logoLetter">z</span>&nbsp;<span class="logoLetter">i</span></div>
    </div>
  </div>
</body>
