<div id="splash">
  <div id="logoContainer" ng-cloak>
    <div id="logo1"><span class="logoLetter">N</span>&nbsp;<span class="logoLetter">i</span>&nbsp;<span class="logoLetter">c</span>&nbsp;<span class="logoLetter">o</span></div>
    <a href="#/home">
      <img src="/images/moon.png" alt="moon" id="moon"/>
      <div id="owlFaceInLogo">{o,o}</div>
    </a>
    <div id="logo2"><span class="logoLetter">A</span>&nbsp;<span class="logoLetter">n</span>&nbsp;<span class="logoLetter">d</span>&nbsp;<span class="logoLetter">r</span>&nbsp;<span class="logoLetter">u</span>&nbsp;<span class="logoLetter">z</span>&nbsp;<span class="logoLetter">z</span>&nbsp;<span class="logoLetter">i</span></div>
  </div>
</div>
