<div class="projectSections">
  <div id="projectLeftColumn">
    <a href="/#/codingChallenges" id="projectPrevious">
      <img id="projectSideArrow" src="/images/svg-project-icons/left-chevron-white.svg" alt="next arrow" />
    </a>
  </div>
  <div id="projectLeftTop">
    <a href="/#/#portfolio" id="projectBack">
      <img id="projectBackArrow" src="/images/svg-project-icons/back-white.svg" alt="back arrow" />
    </a>
  </div>
  <div id="projectRightColumn">
    <a href="/#/codingChallenges" id="projectNext">
      <img id="projectSideArrow" src="/images/svg-project-icons/right-chevron-white.svg" alt="previous arrow" />
    </a>
  </div>
  <div id="projectRightTop">
    <!-- <div class="">Why</div>
    <div class="">How</div>
    <div class="">What</div> -->
  </div>
  <section class="projectRow dark">
    <div class="rowContentDark">
      sdkjflakjdflkaj;kajsdjkahgakjgh;kajf;gakndslfkmlkfdngfkdjg;kjd;gkfn;lkjdsl'fkjao;ijatlrkngldfj;lkjfg'jfdoisjdfglk
    </div>
  </section>
  <!-- <section class="projectRow light">
    <div class="rowContentLight">
      sdkjflakjdflkaj;kajsdjkahgakjgh;kajf;gakndslfkmlkfdngfkdjg;kjd;gkfn;lkjdsl'fkjao;ijatlrkngldfj;lkjfg'jfdoisjdfglk
    </div>
  </section>
  <section class="projectRow dark">
    <div class="rowContentDark">
      sdkjflakjdflkaj;kajsdjkahgakjgh;kajf;gakndslfkmlkfdngfkdjg;kjd;gkfn;lkjdsl'fkjao;ijatlrkngldfj;lkjfg'jfdoisjdfglk
    </div>
  </section>
  <section class="projectRow light">
    <div class="rowContentLight">
      sdkjflakjdflkaj;kajsdjkahgakjgh;kajf;gakndslfkmlkfdngfkdjg;kjd;gkfn;lkjdsl'fkjao;ijatlrkngldfj;lkjfg'jfdoisjdfglk
    </div>
  </section>
  <section class="projectRow dark">
    <div class="rowContentDark">
      sdkjflakjdflkaj;kajsdjkahgakjgh;kajf;gakndslfkmlkfdngfkdjg;kjd;gkfn;lkjdsl'fkjao;ijatlrkngldfj;lkjfg'jfdoisjdfglk
    </div>
  </section> -->


</div>
