        /*nightOwlNico color palette:
white, whitesmoke, dimgrey, black, darkgreen rgb(0,100,0) #005500*/

      /*SVG safe greyscale colors:
white(Safe 16 Hex3) cmyk(0%, 0%, 0%, 0%) #FFFFFF
whitesmoke cmyk(0%, 0%, 0%, 4%) #F5F5F5
gainsboro cmyk(0%, 0%, 0%, 14%) #DCDCDC
lightgrey cmyk(0%, 0%, 0%, 17%) #D3D3D3
silver(16) cmyk(0%, 0%, 0%, 25%) #C0C0C0
darkgrey cmyk(0%, 0%, 0%, 34%) #A9A9A9
grey(16) cmyk(0%, 0%, 0%, 50%) #808080
dimgrey cmyk(0%, 0%, 0%, 59%) #696969
(Hex3)	#555555
(Safe Hex3)	#333333
black(Safe 16 Hex3) cmyk(0%, 0%, 0%, 100%) #000000*/




                /*:NEW COLORS:*/
/*Logo Color:  #005500 || rgb(0,33.3%,0) || cmyk(100%, 0, 100%, 66.6%)*/



/**********************************************          404 Page Begin          **********************************************/

#errorLink{
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/404.jpg");
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: 85% bottom;
  background-color: #E1EBEC;
}

#error{
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: green;*/
  height: 21vw;
  margin-top: 15vh;
}

#errorStatus{
  color: #F91924;
  font-size: 15vw;
  /*background-color: blue;*/
}

#errorMessage{
  font-size: 3vw;
  /*background-color: red;*/
}

/**********************************************          404 Page End          **********************************************/

/**********************************************          Header Begin          **********************************************/

/*.sticky {
background-color: rgba(255, 255, 255, 0.93);
transition: all 0.3s;
display: flex;
opacity: 1;
flex-direction: row;
top: 0px;
}*/

.mainHeader {
  /*transition: all 0.3s;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7.5vh;
  z-index: 1;
  /*opacity: 0;*/
  display: flex;
  /*display: none;*/
  /*padding-top: 17px;*/
  /*background: none;*/
  /*overflow: hidden;*/
  /*opacity: 0;*/
  /*top: -100px;*/
  /*padding-bottom: 6px;*/
  /*font-family: 'Amatic SC', cursive;*/
  background-color: white;
  opacity: .95;
  /*display: flex;*/
  align-items: center;
  /*justify-content: space-between;*/
  /*border-bottom: 1px solid whitesmoke;*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  box-shadow: 0 0 7.5vh #444;
}

#headerLogoContainer{
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  /*position: fixed;*/
  /*background-color: green;*/
  margin-left: 1.5vw;
  width: 30vw;
  /*margin-right: 1.5vw;*/
  transition: all .5s;
  height: 100%;
  /*font-size: 2.5vw;*/
}

#headerLogoContainer:hover {
  cursor: pointer;
  letter-spacing: .15vw;
  transition: all .5s;
  /*font-size: 3.5vw;*/
}

#headerHeroLogo1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 100;
  color: #333333;
}

#headerOwlFaceInLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  color: #005500;
  /*transition: all 0.5s;*/
  /*font-size: 3vw;*/
  /*transition: all 1s;*/
  /*z-index: 1;*/
  /*background-color: orange;*/
}

#headerHeroLogo2 {
  font-family: 'Amatic SC', cursive;
  font-weight: 100;
  color: #333333;
}

#headerLogoContainer:hover #headerHeroLogo1 {
  color: black;
  font-weight: 900;
  /*transition: all 0.s;*/
}

#headerLogoContainer:hover #headerHeroLogo2 {
  color: black;
  font-weight: 900;
  /*transition: all 0.s;*/
  /*font-size: 3.5vw;*/
}

#headerLogoLetter {

}

/*.logo {*/
  /*width: 50px;*/
  /*color: black;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: row;*/
  /*height: 100%;*/
  /*float: left;*/
  /*display: block;*/
  /*margin-top: 0;*/
  /*line-height: 1;*/
  /*margin-bottom: 10px;*/
  /*background-color: red;*/
  /*margin-left: 1.5vw;*/
/*}*/

/*#headerLogo1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-family: 'Amatic SC', cursive;
  font-size: 12vw;
  font-weight: 100;
  color: black;
  background-color: green;
}*/

/*#headerLogo2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-family: 'Amatic SC', cursive;
  font-size: 12vw;
  font-weight: 100;
  color: black;
  background-color: red;
}*/

#navigationMenu {
  /*float: right;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-left: 1.5vw;*/
  /*margin-right: 1.5vw;*/
  margin: 0 auto;
  /*background-color: blue;*/
  width: 50vw;
  /*font-size: 2vw;*/
  /*height: 10vh;*/
  /*font-family: 'Amatic SC', cursive;*/
  /*font-weight: 100;*/
}

#navigationMenu div {
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: center;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  font-family: 'Amatic SC', cursive;
  /*font-size: 2.5vw;*/
  /*font-family: 'Josefin Sans', sans-serif;*/
  /*font-style: italic;*/
  font-weight: 100;
  /*color: black;*/
  color: #333333;
  height: 1vh;
  width: 100%;
  font-size: 1.75vw;
  /*margin: 0 auto;*/
  /*overflow: hidden;*/
  /*text-align: right;*/
  /*float: right;*/
  transition: all .25s;
}

#navigationMenu div:hover {
  cursor: pointer;
  letter-spacing: .25vw;
  font-weight: 900;
  font-size: 2.25vw;
  color: #000000;
  height: 5vh;
  border-left: 3px solid #005500;
  border-right: 3px solid #005500;
  /*color: white;*/
  /*background-color: dimgrey;*/
  /*background-color: #555555;*/
  /*border-radius: 15%;*/
  /*transition: all 0.5s;*/
}

#navigationMenu div:active {
  color: #005500;
}

/*#navigationMenu ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border: 1px solid white;
  width: 25%;
  flex-grow: 1;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}*/

/*nav ul a.active {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  transition: all 500ms 100ms linear;
}*/

/*.open-nav {
  max-height: 100vh;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  transition: all 200ms ease-in;
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}*/

/** {
  box-sizing: border-box;
}*/

/**********************************************          Header End          **********************************************/

/**********************************************          Hero Begin          **********************************************/

#hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("/images/nightSky.jpg") no-repeat center center;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;*/
  background-size: cover;
  text-align: center;
  background-color: black;
}

#hero *{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#heroLogoContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.logoLetter{
  font-size: 12vw;
  transition: all .5s;
}

.logoLetterHover{
  font-size: 14vw;
  transition: all .15s;
  cursor: pointer;
}

.logoLetterAnimate{
  font-size: 14vw;
  cursor: pointer;
  animation-duration: .15s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: wiggle;
}

.logoLetterTuneAnimation{
  animation-duration: 1.075s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: LogoLetterTuneA;
}

.L1d{
  animation-delay: .1s;
}

.L2d{
  animation-delay: .2s;
}

.L3d{
  animation-delay: .3s;
}

.L4d{
  animation-delay: .4s;
}

.L5d{
  animation-delay: .5s;
}

.L6d{
  animation-delay: .6s;
}

.L7d{
  animation-delay: .7s;
}

.L8d{
  animation-delay: .8s;
}


#heroLogo1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-family: 'Amatic SC', cursive;
  font-size: 12vw;
  font-weight: 100;
  color: white;
  /*background-color: green;*/
}

#heroMoon{
  width: 32vw;
  /*background-color: green;*/
  position: absolute;
  margin: auto;
  left: 23.09vw;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  transition: all .5s;
}

.heroMoonNoHover {
  box-shadow: 0 0 0 white;
  opacity: .9;
}

.heroMoonHover {
  box-shadow: 0 0 5vw white;
  opacity: 1;
  cursor: pointer;
}

.moonTuneAnimation{
  animation-duration: 1.075s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: moonTuneA;
}

#heroOwlFaceInLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  color: #005500;
  transition: all 1s;
  z-index: 1;
  /*background-color: orange;*/
}

.heroOwlFaceInLogoNoHover{
  font-size: 12vw;
}

.heroOwlFaceInLogoHover{
  font-size: 12.75vw;
  cursor: pointer;
}

.owlFaceTuneAnimation{
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: owlFaceTuneA;
}


#heroLogo2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-family: 'Amatic SC', cursive;
  font-size: 12vw;
  font-weight: 100;
  color: white;
  /*background-color: red;*/
}

.downPointer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2vh;
  position: absolute;
  left: 42.5vw;
  /*background-color: red;*/
}
.downPointer i {
  width: 15vw;
  height: auto;
  /*background-color: yellow;*/
  /*text-decoration: none;*/
  color: white;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

#downPointerIcon:hover {
  cursor: pointer;
}

/**********************************************          Hero End          **********************************************/

.scrollup {
  color: rgba(0,0,0,0.75);
  border-radius: 50%;
  width: 2.5vw;
  height: 2.5vw;
  /*background-color: darkgreen;*/
  position: fixed;
  display: none;
  bottom: 1.5vh;
  right: 1.5vw;
  text-align: center;
}

.scrollup img {
  width: 2.5vw;
}

.scrollup:hover {
  cursor: pointer;
}


body {
  color: #8f8f8f;
  background: white;
  /*font-family: "Oswald", serif;*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  /*padding: 0;
  margin: 0;*/
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 10vh;
  font-size: 30px;
  /*line-height: 1.8;*/
  /*text-transform: uppercase;*/
  font-family: 'Amatic SC', cursive;
  /*font-family: "Oswald", sans-serif;*/
}

p {
  /*margin-bottom: 20px;*/
  font-size: 17px;
  line-height: 2;
}

.row {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  /*padding: 0 2%;*/
}

.content {
  max-width: 90vw;
  /*width: 100%;*/
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px 2% 50px;
}

/*.main_header .row .content {
padding: 0;
}*/

.dark {
  background-color: #111111;
}

.light {
  background-color: #eeeeee;
}

/**********************************************          About Section Begin          **********************************************/


/*-------------------------------------------------------------------------*/

/*@media only screen and (max-width: 767px) {
  .main_header {
    padding-top: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    float: none;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-toggle {
    display: block;
  }
}*/

/*-------------------------------------------------------------------------*/

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: .25;
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes moonTuneA {
  0% {
    opacity: 1;
    box-shadow: 0 0 5vw white;
  }

  50% {
    opacity: .5;
    box-shadow: 0 0 1vw white;
  }

  100% {
    opacity: 1;
    box-shadow: 0 0 5vw white;
  }
}

@keyframes owlFaceTuneA {
  0% {
    color: #005500;
  }

  14% {
    color: darkblue;
  }

  28% {
    color: darkgoldenrod;
  }

  42% {
    color: darkslategrey);
  }

  56% {
    color: darkmagenta;
  }

  70% {
    color: darkorange;
  }

  84% {
    color: darkred;
  }

  100% {
    color: #005500;
  }
}

/*(Translation Values Calculated From Sin Wave Function)*/
@keyframes LogoLetterTuneA {
  0% {
    transform: translateY(0vh);
  }

  5% {
    transform: translateY(3.09vh);
  }

  10% {
    transform: translateY(5.88vh);
  }

  15% {
    transform: translateY(8.09vh);
  }

  20% {
    transform: translateY(9.51vh);
  }

  25% {
    transform: translateY(10vh);
  }

  30% {
    transform: translateY(9.51vh);
  }

  35% {
    transform: translateY(8.09vh);
  }

  40% {
    transform: translateY(5.88vh);
  }

  45% {
    transform: translateY(3.09vh);
  }

  50% {
    transform: translateY(0vh);
  }

  55% {
    transform: translateY(-3.09vh);
  }

  60% {
    transform: translateY(-5.88vh);
  }

  65% {
    transform: translateY(-8.09vh);
  }

  70% {
    transform: translateY(-9.51vh);
  }

  75% {
    transform: translateY(-10vh);
  }

  80% {
    transform: translateY(-9.51vh);
  }

  85% {
    transform: translateY(-8.09vh);
  }

  90% {
    transform: translateY(-5.88vh);
  }

  95% {
    transform: translateY(-3.09vh);
  }

  100% {
    transform: translateY(0vh);
  }
}


/**********************************************          Main Page End          **********************************************/

/*#text{
  font-family: 'Amatic SC', cursive;
  margin-top: 5%;
}*/

/*.title{
  font-weight: 900;
  font-size: 2em;
  padding: 1vh;
  letter-spacing: .25em;
}*/

/*#body{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.25em;
  display:flex;
  flex-direction: row;
}*/

/*#body > div{
  width: 25%;
  margin:auto;
  text-align: left;
  font-size: 1em;
}*/
