main{
  position: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: auto;
  background-image: linear-gradient(lightgrey, white);
  /*background-image: linear-gradient(white, lightgrey);*/
}

.logo{
  font-family: 'Amatic SC', cursive;
  font-size: 15vh;
  font-weight: 100;
  margin-top: 10vh;
  letter-spacing: 2vw;
  /*line-height: 100vh;*/
  /*color: #424242;*/
  /*color: grey;*/
  /*background-color: lightgrey;*/
}

#owlFaceInLogo{
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  /*color: #05500f;*/
  color: darkgreen;
  letter-spacing: 0;
  margin-right: 2vw;

  /*color: #424242;*/
}

#text{
  /*font-family: 'Catamaran', sans-serif;*/
  /*font-family: 'Yantramanav', sans-serif;*/
  font-family: 'Amatic SC', cursive;
  margin-top: 5%;
}

.title{
  font-weight: 900;
  text-decoration: underline;
  font-size: 2em;
  padding: 1vh;
    /*color: grey;*/
}

#body{
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.25em;
  display:flex;
  flex-direction: row;
}

#body > div {
  width: 25%;
  margin:auto;
  text-align: left;
  font-size: 1em;
}
